.bus-container{
   
    padding: 10px;
    width:350px;
    box-shadow: 0 0 8px gray;
}
.seat{
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 2px;
}
.selected-seat{
    background-color: green;
    color: white;
}

.booked-seat{
    background-color: gray;
    color: white;
}