/* heights and widths */
.h-screen{
height: 100vh;
}

/* width */
.w-400{
width: 400px;

}
/* input */
input{
    height: 35px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid gray;
    border-radius: 5px;
}
/* card */
.card{
    box-shadow: 0 0 6px gray;
}

/* text */
.text-2xl{
    font-size: 30px;
}
.text-xl{
    font-size: 25px;
}
.text-lg{
    font-size: 20px;
}
.text-md{
    font-size: 18px;
}

/* butons */
.primary-btn{
    background-color: var(--primary);
    color:white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.secondary-btn{
    background-color: var(--secondary);
    color:white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
/* achor tag */
a{
    text-decoration: none;
    color: var(--secondary)!important;
}
/* loader/spinner position */
.loader{
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top:0;
    bottom:0;
    left:0;
    bottom:0;
    width:100%;
    background-color: rgba(0, 0, 0, 0.363);
    z-index:10000;
}
.spinner-border{
    color: white;
    height: 80px;
    width: 80px;
}